NODE_ENV=development
AUTH_SECRET=replace-with-at-least-32-random-characters
CONTROL_DATABASE_URL=postgresql://envantra:envantra@control-db:5432/envantra_control
SITE_DB_PASSWORD=envantra
SITE_DB_CONNECT_TIMEOUT_MS=3000
SITE_DB_CIRCUIT_FAILURE_THRESHOLD=3
SITE_DB_CIRCUIT_RESET_MS=30000
SITE_DB_ENCRYPTION_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
LDAP_URL=ldap://dev-ad:389
LDAP_BASE_DN=DC=devad,DC=test
LDAP_BIND_DN=CN=Administrator,CN=Users,DC=devad,DC=test
LDAP_BIND_PASSWORD=DevOnly!12345
NEXT_PUBLIC_APP_NAME=Envantra
